.App {
  font-family: "Roboto" !important;
}

/*  SCROLLBAR  */

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #888 ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #90a4ae ;
}

#root{
  background-color: #F0F2F5;
  width: 100%;
  min-height: 100%;
}

.ant-timeline-item-tail, .ant-timeline.ant-timeline-pending .ant-timeline-item-last .ant-timeline-item-tail {
  /* position: absolute;
  top: 10px;
  left: 4px;
  height: calc(100% - 10px); */
  border-left: 2px solid #554DA0;
}

.ant-spin-dot-item {
  background-color: #554DA0;
}


.ant-timeline-item-pending {
  margin-top: 20px;
}


.ant-timeline-item-head-blue {
  color: #554DA0;
  border-color: #554DA0;
}

.subtitle {
  text-align: center;
  text-decoration: underline #554DA0;
}